<title>Beagle Front-end Test Suite</title>
<link href="https://fonts.googleapis.com/css?family=Cabin:400,600|Quicksand:700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
