@charset "UTF-8";
* {
  box-sizing: border-box; }

:root {
  --primary-color: #292238;
  --secondary-color: #c03ae8;
  --grey-color: #eee;
  --white-color: #f8f8f8;
  --base-height: 50px;
  --error-color: #b3255d; }

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400; }

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400; }

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400; }

:-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #383346 inset;
  -webkit-text-fill-color: white !important; }

body {
  position: relative;
  font-family: 'Assistant', sans-serif;
  background: #eee;
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between; }

p {
  font-size: 18px;
  line-height: 1.8; }

table {
  text-align: center;
  max-width: 840px;
  margin: 0 auto;
  opacity: 0;
  transition: 0.8s 3s ease-in-out; }
  table h4 {
    margin: 0;
    font-weight: 300;
    min-height: 40px;
    color: rgba(255, 255, 255, 0.6); }

table tr {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

table td {
  border: 1px solid #544e618c;
  -ms-flex: 1 0 140px;
  flex: 1 0 140px;
  padding: 20px;
  margin: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between; }

table td span:first-of-type {
  font-size: 25px; }

table td span:last-of-type {
  font-size: 32px;
  font-weight: 700; }

.menu {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 30px auto;
  padding: 0; }

.menu a {
  display: block;
  height: 50px;
  padding: 8px 12px;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 28px; }
  .menu a span {
    display: block;
    height: 0px;
    overflow: hidden;
    transition: 1s 2s ease-in-out; }

.menu.is-active a span {
  height: 50px; }

.page {
  max-width: 1000px;
  -ms-flex: 0 0 80%;
  flex: 0 0 80%; }
  .page__title {
    font-size: 60px; }
    .page__title a {
      text-decoration: none;
      color: var(--primary-color); }
  .page__container {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center; }

.split {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%; }

.split--left {
  padding: 80px 60px;
  background: var(--white-color);
  color: var(--primary-color); }

.split--right {
  position: relative;
  z-index: 5;
  padding: 240px 60px;
  background: var(--primary-color);
  color: var(--grey-color);
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1); }
  .split--right::after, .split--right::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 6;
    background: var(--primary-color);
    top: 0;
    width: 0;
    height: 100%;
    transition: width 0.8s 0.3s ease; }
  .split--right::before {
    left: 0; }
  .split--right::after {
    right: 100%; }

.report,
.error {
  display: none; }

.focusline {
  position: absolute;
  top: 100%;
  left: 0;
  display: block;
  width: 0;
  height: 2px;
  background: linear-gradient(45deg, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
  transition: width 0.3s ease-in-out; }

form {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.button {
  -ms-flex: var(--base-height);
  flex: var(--base-height);
  max-width: var(--base-height);
  background: rgba(255, 255, 255, 0.07);
  border: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0; }
  .button:focus {
    outline: none;
    box-shadow: 0 0 12px -2px white; }
  .button svg {
    width: 50%;
    height: 50%; }

[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea, select {
  height: var(--base-height);
  -ms-flex: 70%;
  flex: 70%;
  border: none;
  background: rgba(255, 255, 255, 0.07);
  color: var(--white-color);
  padding-left: 10px; }
  [type=color]:focus, [type=date]:focus, [type=datetime-local]:focus, [type=datetime]:focus, [type=email]:focus, [type=month]:focus, [type=number]:focus, [type=password]:focus, [type=search]:focus, [type=tel]:focus, [type=text]:focus, [type=time]:focus, [type=url]:focus, [type=week]:focus, textarea:focus, select:focus {
    outline: none; }
  [type=color]:focus ~ .focusline, [type=date]:focus ~ .focusline, [type=datetime-local]:focus ~ .focusline, [type=datetime]:focus ~ .focusline, [type=email]:focus ~ .focusline, [type=month]:focus ~ .focusline, [type=number]:focus ~ .focusline, [type=password]:focus ~ .focusline, [type=search]:focus ~ .focusline, [type=tel]:focus ~ .focusline, [type=text]:focus ~ .focusline, [type=time]:focus ~ .focusline, [type=url]:focus ~ .focusline, [type=week]:focus ~ .focusline, textarea:focus ~ .focusline, select:focus ~ .focusline {
    width: 100%;
    transition: width 0.1s ease; }

.error {
  position: absolute;
  top: 115%;
  left: 10px;
  font-size: 14px;
  color: var(--error-color); }

.status {
  position: relative;
  font-weight: 700;
  font-size: 14px; }
  .status::before {
    content: '👍'; }
  .status--ready::before {
    content: '💪'; }

.report {
  pointer-events: none;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  min-height: 100%;
  -ms-transform: scale(0);
  transform: scale(0);
  transition: all 2s 0s ease;
  padding: 0 30px;
  z-index: 12;
  overflow: scroll;
  background: var(--primary-color);
  color: var(--grey-color); }

.report__header,
.report__footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  opacity: 0;
  transition: 0.8s 1.3s ease-in-out; }

.report__header {
  padding: 30px 0;
  margin-bottom: 30px;
  background: rgba(255, 255, 255, 0.01); }
  .report__header h3 {
    font-size: 22px;
    font-weight: 300; }

.report__footer {
  padding: 30px 0; }

.report__button {
  color: var(--white-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  margin: 0 15px; }

.report.is-active {
  pointer-events: auto;
  -ms-transform: scale(1);
  transform: scale(1); }
  .report.is-active table {
    opacity: 1;
    transition: 0.8s 3s ease-in-out; }
  .report.is-active .report__header,
  .report.is-active .report__footer {
    opacity: 1;
    transition: 0.8s 2s ease-in-out; }

.score {
  display: block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center; }

.is-sending .split__fade {
  opacity: 1;
  transition: 0.8s 1.2s ease-in-out; }

.is-sending .report {
  pointer-events: auto; }

.is-sending::after, .is-sending::before {
  width: 100%; }

.footer {
  padding: 30px 0;
  opacity: 0.3; }

.loading {
  position: absolute;
  z-index: 66;
  top: 30%;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  height: 0;
  transition: opacity 0.8s 0s;
  pointer-events: none; }
  .loading h5 {
    color: var(--white-color);
    font-size: 26px;
    font-weight: 300; }
  .loading h5 span {
    display: block;
    margin: 10px 0;
    opacity: 0.4;
    font-size: 14px; }

.loading.is-active {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.8s 1.5s; }

.loading__animation {
  margin: 40px auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
  -webkit-filter: url(#goo);
  filter: url(#goo);
  width: 200px;
  height: 100px; }

.loading__animation div {
  background: #fffff0;
  width: 20px;
  height: 20px;
  border-radius: 50%; }

.loading__animation > div {
  -ms-transform: translateX(0);
  transform: translateX(0);
  animation: sideways 2.5s infinite ease; }

.loading__animation > div:nth-child(1) {
  animation-delay: .25s; }

.loading__animation > div:nth-child(2) {
  animation-delay: .5s; }

.loading__animation > div:nth-child(3) {
  animation-delay: .75s; }

.loading__animation > div:nth-child(4) {
  animation-delay: 1s; }

.loading__animation > div:nth-child(5) {
  animation-delay: 1.25s; }

@keyframes circle {
  50% {
    width: 25px;
    height: 25px; }
  100% {
    transform: rotate(360deg); } }

@keyframes sideways {
  33% {
    transform: translateX(50px); }
  66% {
    transform: translateX(-50px); } }

.dialog {
  max-width: 600px;
  border: none;
  box-shadow: 0px 0px 20px 0px #00000078;
  text-align: center; }
  .dialog h4 {
    color: var(--error-color);
    font-size: 28px;
    margin-top: 0; }
  .dialog menu {
    padding-left: 0; }

.dialog__button {
  background: #261f33;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700; }

.dialog__content strong {
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 80%;
  opacity: 0.8; }
