<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
    <svg style="height:0;width:0">
        <defs>
            <filter id="goo">
                <feGaussianBlur in="SourceGraphic" stdDeviation="7" result="blur" />
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
            </filter>
        </defs>
    </svg>
</head>

<body>

  <% include ../partials/nav.ejs %>

    <main class="page">

      <div class="page__container">

          <div class="split split--left">
              <h1 class="page__title home">
                  <a href="/">
                     Beagle
                  </a>
              </h1>

              <p class="home">
              Beagle runs PageSpeed, Lighthouse and Webpagetest.org simultaneously.
              </p>

              <p class="status js-status">Beagle is unavailable :(</p>
          </div>

          <div class="split split--right">

              <span class="split__fade"></span>

              <form action="/" method="get" class="js-get-report js-hide home">
                  <input type="url" placeholder="type address..." id="url" name="url" value="">
                  <span class="focusline"></span>
                  <button type="submit" class="button submit">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 535.5 535.5" style="enable-background:new 0 0 535.5 535.5;" xml:space="preserve">
                          <polygon points="0,497.25 535.5,267.75 0,38.25 0,216.75 382.5,267.75 0,318.75   " fill="#FFFFFF"/>
                      </svg>
                  </button>
                  <span class="error">Please enter a valid URL!</span>
              </form>

              <div class="report">

                  <header class="report__header">
                      <h3>Results for: <span class="js-summary"></span></h3>
                      <p class="js-result"></p>
                      <span class="score js-score"></span>
                  </header>

                  <div class="loading">
                      Your report is generating. Please wait.
                      <span>If you close this tab, you will lose it.</span>

                      <div class="loading__animation">
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                      </div>
                  </div>

                  <table>
                      <tbody>
                      <tr class="js-row"></tr>
                      </tbody>
                  </table>

              </div>

          </div>

      </div>

    </main>

  <footer class="footer">
    Beagle was created by Michael Gunner.
  </footer>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    const socket = io();
    const resultSummary = $('.js-summary');
    const form = $('.js-get-report');

    socket.on('connect', function() {
        $('.js-status').html('Beagle is available.').addClass('status--ready');
    });

    form.on("submit", function(e){
        let siteUrl = $("#url").val();

        if(!siteUrl) {
            $('.error').css('display', 'block');
        } else {
            $('.error').css('display', 'none');
            $('.menu').addClass('is-active');
            $('.split--right').addClass('is-sending');
            $('.loading').addClass('is-active');
            socket.emit ('send site', { url: siteUrl });
        }
        e.preventDefault();
    });

    socket.on('beagle-result', function (data) {
        $(resultSummary).html(data.site);
        $('.loading').removeClass('is-active');
        $('.report__header').addClass('is-active');

        const tr = $('.js-row');
        const report = data.report.formatted;
        let size = 0;
        let sum = 0;

        $.each( report, function( key, value ) {
            let cell = document.createElement("td");
            let cellValue = Math.round(parseInt(value.result));
            let cellStyle = null;
            let cellResult = '🙂';

            size++;

            if(value.ranking.type === "high") {

                sum += cellValue;
                console.log(sum);

                if(cellValue < value.ranking.poor) {
                    cellStyle = "color: #f44336;";
                    cellResult = '☹️';
                } else if (cellValue >= value.ranking.poor && cellValue < value.ranking.average) {
                    cellStyle = "color: #e06c15;";
                    cellResult = '😐';
                } else if (cellValue >= value.ranking.average && cellValue < value.ranking.good) {
                    cellStyle = "color: #a7bb5c;";
                    cellResult = '🙂';
                } else if (cellValue >= value.ranking.good && cellValue <= value.ranking.perfect) {
                    cellStyle = "color: #51bd51;";
                    cellResult = '😀';
                }

            } else {

                if(cellValue <= value.ranking.perfect) {
                    cellStyle = "color: #51bd51;";
                    cellResult = '😀';
                } else if (cellValue > value.ranking.perfect && cellValue <= value.ranking.good) {
                    cellStyle = "color: #a7bb5c;";
                    cellResult = '🙂';
                } else if (cellValue > value.ranking.good && cellValue <= value.ranking.average) {
                    cellStyle = "color: #e06c15;";
                    cellResult = '😐';
                } else if (cellValue > value.ranking.average) {
                    cellStyle = "color: #f44336;";
                    cellResult = '☹️';
                }

            }

            cell.innerHTML = "<h4>" + key + "</h4><span>" + cellResult + "</span><span style='" + cellStyle + "'>" + cellValue + "</span>";
            tr.append(cell);
        });

        //$('.js-score').html(Math.round(sum/size));

    });
</script>
</html>
