<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<section class="hero">

  <div class="hero__container">

    <h1 class="hero__title home">
      <a href="/">
        Beagle
      </a>
    </h1>

    <p class="home">
      Use Beagle to run multiple Frontend tests all at once and compile into a single report. Beagle can also be integrated into your workflow, so tests run automatically when you deploy.
    </p>

      <p class="loading">
          Your report is generating. Please wait.
          <span>If you close this tab, you will lose it.</span>
      </p>

    <form action="/" method="get" class="js-get-report js-hide home">
      <input type="url" placeholder="type URL" id="url" name="url" value="">
      <button type="submit" class="button submit">start tests</button>
        <span class="error">Please enter a valid URL!</span>
    </form>

    <div class="container report js-report">

      <div class="row">
        <div class="column-12">

          <h3 class="js-summary"></h3>
          <p class="js-result"></p>

          <table>
            <tbody>
            <tr class="js-row"></tr>
            </tbody>
          </table>

          <p>Your report is stored on Google Drive.</p>

        </div>
      </div>
    </div>

  </div>

</section>

  <footer class="footer">
    Beagle was created by Michael Gunner.
  </footer>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    const socket = io();
    const resultSummary = $('.js-summary');
    const form = $('.js-get-report');

    form.on("submit", function(e){
        let siteUrl = $("#url").val();

        if(!siteUrl) {
            $('.error').css('display', 'block');
        } else {
            $('.home').addClass('u-hide');
            $('.loading').addClass('u-show');
            socket.emit ('send site', { url: siteUrl });
        }
        e.preventDefault();
    });

    socket.on('connect', function() {
        form.addClass('active');
    });

    socket.on('beagle-result', function (data) {
        $(resultSummary).html(data.site);
        $('.js-report').addClass('u-show');
        $('.loading').addClass('u-hide');

        const tr = $('.js-row');
        const report = data.report.formatted;

        $.each( report, function( key, value ) {
            let cell = document.createElement("td");
            cell.innerHTML = "<h4>" + key + "</h4><span>" + Math.round(parseInt(report[key])) + "</span>";
            tr.append(cell);
        });

    });
</script>
</html>
