<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<section class="hero">

  <div class="hero__container">

    <h1 class="hero__title">
      <a href="/">
        Beagle
      </a>
    </h1>

    <p>
      Use Beagle to run multiple Frontend tests all at once and compile into a single report. Beagle can also be integrated into your workflow, so tests run automatically when you deploy.
    </p>

    <form action="/report/" method="get">
      <input type="url" placeholder="type URL" id="url" name="url">
      <button type="submit">start tests</button>
    </form>

  </div>

</section>

<div class="container">
  <div class="row">
    <div class="column-6">
      <h3>How Beagle works?</h3>
      <ul>
        <li>Rather than manually running tests on PageSpeed, Lighthouse, WebPageTest and Axe manually - Beagle does it all for you.</li>
        <li>Beagle then compiles all the results and, based of minimum performance criteria established by Gene, will pass or fail your build.</li>
        <li>The key metrics are then stored in a spreadsheet so you can analyse.</li>
      </ul>
      <h3>Run Beagle locally</h3>
      <p>To use Beagle in your workflow, you should run it locally.</p>
      <ul>
        <li>Clone the repository.</li>
        <li>Run `npm install` and then run `npm run start`. This will start the service.</li>
        <li>Visit localhost:5000 in your browser and start a test.</li>
      </ul>
    </div>
    <div class="column-6">
      <h3>Caveats</h3>
      <ul>
        <li>Beagle is running a lot of tests, so be patient. You'll get notified when they're done.</li>
        <li>Avoid running lots of concurrent tests. This will increase the rate of failure.</li>
        <li>Beagle uses APIs that may get busy, or go down.</li>
      </ul>
      </ul>
      <h3>Helpful Links</h3>
      <ul>

      </ul>
    </div>
  </div>
</div>

  <footer>
    Beagle was created by Michael Gunner.
  </footer>

</body>
</html>
