<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Report Generating</h1>
    <p>Your report is being generated. Please wait...</p>
  </div>
</div>
<div class="container">

  <div class="row">
    <div class="col-md-6">
      <div class="js-result"></div></div>
    </div>
    <div class="col-md-6">

    </div>
  </div>
   <div class="alert alert-info text-center" role="alert">

   </div>
</div>


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script>
    var socket = io();
    var resultContainer = document.querySelector('.js-result');
    socket.on('beagle-result', function (data) {
        console.log(data);
        resultContainer.append(data);
    });
</script>
</html>
