<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<section class="hero">

    <div class="hero__container">

      <h2>Report Generating</h2>
      <p class="js-status">Your report is being generated. Please wait...</p>

    </div>


</section>
<div class="container" style="display: none;">

  <div class="row">
    <div class="column-12">

      <h3 class="js-summary"></h3>
      <p class="js-result"></p>

      <table>
        <tbody>
          <tr class="js-row"></tr>
        </tbody>
      </table>

      <p>Your report is stored on Google Drive.</p>

    </div>
  </div>
</div>


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script>
    const socket = io();
    const resultContainer = document.querySelector('.js-result');
    const resultSummary = document.querySelector('.js-summary');

    socket.on('beagle-result', function (data) {
        resultContainer.append(data[1]);
        resultSummary.append(data[0]);
        document.querySelector('.container').style.display = "block";

        const tr = document.querySelector('.js-row');
        const obj = data[2];

        Object.keys(obj).forEach(key => {
            let cell = document.createElement("td");
            console.log(Math.round(parseInt(obj[key])));

            cell.innerHTML = "<h4>" + key + "</h4><span>" + Math.round(parseInt(obj[key])) + "</span>";

            tr.appendChild(cell);
        });
    });
</script>
</html>
