<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Report Generating</h1>
    <p>Your report is being generated.</p>
  </div>
</div>
<div class="container">

  <div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">

    </div>
  </div>
   <div class="alert alert-info text-center" role="alert">

   </div>
</div>


</body>
</html>
